/* FOOTER UPPER SECTION */

.footeruppersection-wrapper{
    border-radius: 0.80644rem;
    border: 0.806px solid #262930;
    background: linear-gradient(180deg, rgba(23, 23, 23, 0.75) 0%, rgba(16, 16, 16, 0.75) 100%);
    backdrop-filter: blur(2.4193215370178223px);
    width: 100%;
    height: 22.97456rem;
    flex-shrink: 0;
    position: relative;
    display: flex;
    z-index: 1;
}
.footeruppersection-flexbox-part1{
    width: 50%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.footeruppersection-flexbox-part1-heading{
    color: #FFF;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.footeruppersection-flexbox-part1-paragraph{
    color: #5A5A5A;
    text-align: justify;
    font-size: 1.20969rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footeruppersection-flexbox-part2{
    width: 50%;
    display: flex;
    padding: 0;
}
.phonebackgrounfimage{
    max-width: 100%;
    object-fit: cover;
    height: auto;
}
.phone{
    position: absolute;
    bottom: 0;
    right: 1%;
}
.page3-request-demo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    width: 28rem;
}
.page3-request-demo-form{
    display: flex;
    width: 100%;
    border-radius: 0.78144rem;
    border: 0.781px solid rgba(240, 239, 250, 0.60);
    overflow: hidden;
    backdrop-filter: blur(7.033019065856934px);
    background-color: transparent;
    /* z-index: -1; */
}
.page3-request-demo-form input[type="email"]{
    flex-grow: 1;
    padding: 0.75rem;
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: transparent;
    font-size: 1rem;
    width: 28rem;
    height: 2.5rem;
    border-radius: 10px 0 0 10px;
}
.page3-request-demo-form input[type="email"]::placeholder {
    color: #888;
}
.page3-request-demo-form button {
    background-color: 
    rgba(200, 249, 98, 1);
    border: none;
    padding: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:0.5rem;
    transition: background-color 0.3s ease;
    margin: 0.25rem;
    max-width: 4.5rem;
    width: 100%;
}


@media(max-width:1100px){

    
    .footeruppersection-wrapper{
        /* flex-wrap: wrap; */
        height: auto;

    }
    .footeruppersection-flexbox-part1-heading{
        font-size: 2rem;
    }
    .footeruppersection-flexbox-part1-paragraph{
        font-size: 1rem;
    }
    .phone{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 20rem;
        height: auto;
    }
    .page3-request-demo-container{
        width: 20rem;
        /* height: 2rem; */
    }
    .page3-request-demo-form input[type="email"]{
        font-size: 1rem;  
        width: 20rem;
        height: 2rem;
    }
    .page3-request-demo-form button {
        
        max-width: 3.3rem;
    }
}
@media(max-width:800px){

    
    .phone{
        display: none;
    }
    .footeruppersection-flexbox-part2{
        display: none;
    }
    .footeruppersection-wrapper{
        justify-content: center;
        align-items: center;
    }
    .footeruppersection-flexbox-part1-paragraph{
        text-align: center;
    }
    .footeruppersection-flexbox-part1-heading{
        text-align: center;
    }
    .footeruppersection-flexbox-part1-heading{
        font-size: 1.8rem;
    }
    .footeruppersection-flexbox-part1-paragraph{
        font-size: 0.9rem;
    }
    .footeruppersection-flexbox-part1{
        padding: 5%;
        width: 100%;
    }
    
}

@media(max-width:550px){
    .footeruppersection-flexbox-part1-heading{
        font-size: 1.5rem;
    }
    .footeruppersection-flexbox-part1-paragraph{
        font-size: 0.75rem;
    }
}

@media(max-width:450px){
    .footeruppersection-flexbox-part1-heading{
        font-size: 1rem;
    }
    .footeruppersection-flexbox-part1-paragraph{
        font-size: 0.75rem;
    }
    .page3-request-demo-container{
        width: 15rem;
        /* height: 2rem; */
    }
    .page3-request-demo-form{
        width: 15rem;
        height: 2.5rem;
       }
    .page3-request-demo-form input[type="email"]{
        width: 15rem;
        height: 1.5rem;
        font-size: 0.6rem;
        }
    .page3-request-demo-form button {
            
            margin: 0.25rem;
            max-width: 1.875rem;
            width: 100%;
            height: 2rem;
        }
}





