:root{
    --color-1: #040507;
    --text-color: #F0EFFA;
    --accent-color: #C8F962;
  }
html {
    scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
}

  
body{
    background: var(--color-1);
    color: var(--text-color);
    font-family: 'SF Pro Display', Arial, sans-serif;


}
header{
    position: sticky;
}
section{
    padding: 0 15%;
}
.subsections{
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.landingpage-section1-contentwrap{
    padding: 5% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landingpage-section1-heading{
    font-size: 5.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 5.5rem */
    text-align: center;
}
.request-demo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    width: 35rem;
    height: 4rem;
    padding: 1rem;
    margin-top: 7%;
}
.request-demo-form{
    display: flex;
    width: 100%;
    border-radius: 0.78144rem;
    border: 0.781px solid rgba(240, 239, 250, 0.60);
    overflow: hidden;
    backdrop-filter: blur(7.033019065856934px);
    background-color: transparent;
    /* z-index: -1; */
}
.request-demo-form input[type="email"]{
    flex-grow: 1;
    padding: 0.75rem;
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: transparent;
    font-size: 1.25rem;
    width: 35rem;
    height: 4rem;
    border-radius: 10px 0 0 10px;
}
.request-demo-form input[type="email"]::placeholder {
    color: #888;
}
.request-demo-form button {
    background-color: 
    rgba(200, 249, 98, 1);
    border: none;
    padding: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:0.5rem;
    transition: background-color 0.3s ease;
    margin: 0.25rem;
    max-width: 5.875rem;
    width: 100%;
}

.landingpage-section2-laptop{
    border-radius: 1rem;
    border: 0.426px solid #B8B8B8;
    box-shadow: 0px 10.228px 17.047px 0px rgba(0, 0, 0, 0.17);
    width: 100%;
    height: 38rem;
    flex-shrink: 0;
}
.landingpage-section2-laptop-inner{
    border-radius: 1rem;
    border: 8px solid #040507;
    background: #15171C;
    box-shadow: 0px 10.228px 17.047px 0px rgba(0, 0, 0, 0.17);
    width: 100%;
    height: 38rem;
    flex-shrink: 0;
}
.landingpage-section2-laptop-inner-filterblack{
    width: 100%;
    height: 15.1875rem;
    flex-shrink: 0;
    background: #040507;
    filter: blur(62.25px);
    z-index: 2;
}

.sections-heading{
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 3.6rem */
}
.sections-subheading{
    color: #787878;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 1.625rem */
}




.landingpage-section3-heading{
    font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: 120%;
}
.landingpage-section3-button-flexbox{
    display: flex;
    column-gap: 0.5rem;
}
.landingpage-section3-flexbox{
    display: flex;
    width: 100%;
}
.landingpage-section3-flexbox-flexbox1{
    border-right: 2px solid #4A4B53;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 50%;

}
.landingpage-section3-flexbox-flexbox2{
    max-width: 50%;
}
.landingpage-section3-flexbox-flexbox2-horizontalscroll{
    display: flex;
    overflow-x: scroll;
    box-sizing: border-box;
    max-width: 100%;
}
.landingpage-section3-flexbox-flexbox2-horizontalscroll::-webkit-scrollbar{
    display: none;
}
.scrollbox1{
    width: 21.71331rem;
    height: 18.0625rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #24272E;
    background: #121212;
    margin: 1.5rem;
}
.scrollbox-heading1{
    color: #C8F962;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}
.scrollbox-heading2{
    color: #FFF;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.scrollbox-image{
    height: auto;
    width: 100%;
    justify-content: center ;
    align-items: center;
    margin-top: 1rem;
}

/* SECTION 4 */

.landingpage-section4-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: 0.75rem;
}
.landingpage-section4-gridbox{
    display: flex;
    flex-direction: column;
    /* row-gap: 1rem; */
}
.landingpage-section4-gridbox-gridboxparts{
    display: flex;
    column-gap: 1.5rem;
    width: 100%;
}
.landingpage-section4-gridbox-gridboxparts-part1div{
    max-width: 50%;
    height: auto;
    
}
.landingpage-section4-gridbox-gridboxparts-part2div{
    max-width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding-top: 10%;
}
.landing-section4-gridbox-headings{
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 2.5rem */
}
.landingpage-section4-gridbox-subheadings{
    color:  #D4D3EA;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 1.625rem */
}
.landingpage-section4-image{
    width: 100%;
    height: 100%;
}
.landingpage-section4-gridbox-spanbox{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    column-gap: 0.25rem;
}
/* SECTION 6 */

.landingpage-section6-gridbox{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.landingpage-section6-gridbox-part1{
    display: flex;
    column-gap: 0.5rem;
    width: 100%;
    
}
.gridboxdesign{
    border-radius: 0.875rem;
    border: 1px solid var(--Misty-slate, #292F3B);
    background: #0C0C0F;
    display: flex;
    padding: 2.4375rem 2.125rem 2.4375rem 2.9375rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    flex-direction: column;

}
.section6-gridbox-heading{
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.section6-gridbox-subheading{
    color: #5A5A5A;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.landingpage-section6-gridbox-part1-subpart1{
    width: 60%;
}
.landingpage-section6-gridbox-part1-subpart2{
    width: 40%;
}
.landingpage-section6-gridbox-part2-subpart1{
    width: 30%;
}
.landingpage-section6-gridbox-part2-subpart2{
    width: 70%;
}




/* FOOTER UPPER SECTION */

.footeruppersection-wrapper{
    border-radius: 0.80644rem;
    border: 0.806px solid #262930;
    background: linear-gradient(180deg, rgba(23, 23, 23, 0.75) 0%, rgba(16, 16, 16, 0.75) 100%);
    backdrop-filter: blur(2.4193215370178223px);
    width: 100%;
    height: 22.97456rem;
    flex-shrink: 0;
    position: relative;
    display: flex;
    z-index: 1;
}
.footeruppersection-flexbox-part1{
    width: 50%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.footeruppersection-flexbox-part1-heading{
    color: #FFF;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.footeruppersection-flexbox-part1-paragraph{
    color: #5A5A5A;
    text-align: justify;
    font-size: 1.20969rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footeruppersection-flexbox-part2{
    width: 50%;
    display: flex;
    padding: 0;
}
.phonebackgrounfimage{
    max-width: 100%;
    object-fit: cover;
    height: auto;
}
.phone{
    position: absolute;
    bottom: 0;
    right: 1%;
}



/* FOOTER CSS */

.footer-contentwrap{
    padding: 10%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.footer-part1{
    display: flex;
    column-gap: 3rem;
}
.footer-part1-leftside{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.footerlogo{
    width: 9.91675rem;
    height: 2.12044rem;
    flex-shrink: 0;
}
.footer-part1-leftside-heading1{
    color: #D4D3EA;
    font-size: 1.01419rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.12688rem; /* 111.111% */
    max-width:  15.94538rem;
}
.footer-request-demo-container{
    display: flex;
    width: 100%;
    background-color: transparent;
    width:22rem ;
    height: 3.1rem;
    /* padding: 1rem; */
    /* margin-top: 7%; */
}
.footer-request-demo-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 4rem;
    border: 0.781px solid #4E4C67;
    overflow: hidden;
    backdrop-filter: blur(7.033019065856934px);
    background-color: transparent;
    padding: 0.5rem;
    
}
.footer-request-demo-form input[type="email"]{
    flex-grow: 1;
    padding: 0.75rem;
    border: none;
    outline: none;
    color: #4E4C67;
    background-color: transparent;
    /*  */
    flex-shrink: 0;
}
.footer-request-demo-form input[type="email"]::placeholder {
    color: #4E4C67;
    font-size: 1rem;
    font-weight: 400;
}
.footer-request-demo-form button {
    background-color: 
    rgba(200, 249, 98, 1);
    border: none;
    padding: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:4rem;
    transition: background-color 0.3s ease;
    /* max-width: .38106rem; */
    width: 7.55013rem;
    height: 2.31006rem;
    flex-shrink: 0;
}
.footer-part1-leftside-paragraph{
    color: #4E4C67;
    font-size: 0.9015rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.01419rem; /* 112.5% */
    max-width: 15.94538rem;
}

.footer-part1-rightside{
    display: flex;
    column-gap: 2rem;
}
.footer-part1-rightside-box1{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 1%;
}
.footer-rightside-headings{
    color: #C8F962;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.62269rem */
}
.footer-rightside-subpoints{
    color:  #D4D3EA;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.01419rem; /* 112.5% */
}
.footer-part1-rightside-box1-subbbox1{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.footer-part1-rightside-box1-subbox1-subpart{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
@media(max-width:1400px){
    section{
        padding: 0 10%;
    }
    .subsections{
        padding: 7% 10%;
    }
}
@media(max-width:1100px){
    .footeruppersection-wrapper{
        /* flex-wrap: wrap; */
        height: auto;

    }
    .footeruppersection-flexbox-part1-heading{
        font-size: 2rem;
    }
    .footeruppersection-flexbox-part1-paragraph{
        font-size: 1rem;
    }
    .phone{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 20rem;
        height: auto;
    }
}
@media(max-width:1000px){
    .sections-heading{
        font-size: 2rem;
    }
    .sections-subheading{
        font-size: 1.25rem;
    }
    /* SECTION1  */
    .landingpage-section1-heading{
        font-size: 4rem;
    }
    .request-demo-container{
        width: 25rem;
        height: 2rem;
    }
    .request-demo-form input[type="email"]{
        font-size: 1rem;  
        width: 25rem;
        height: 2rem;
    }
    .request-demo-form button {
        
        max-width: 3.875rem;
    }
    .sections-heading{
        font-size: 2rem;
    }
    .sections-subheading{
        font-size: 1.25rem;
    }

    /* SECTION4  */
    .landing-section4-gridbox-headings{
    font-size: 1.75rem;
    }
    .landingpage-section4-gridbox-subheadings{
    font-size: 1rem;
    }



    .footer-part1{
        flex-wrap: wrap;
        row-gap: 3rem;
        align-items: center;
    }
    
    
}
@media(max-width:800px){

    .landingpage-section1-heading{
        font-size: 3rem;
    }
    /* SECTION3  */
    .landingpage-section3-flexbox{
        flex-wrap: wrap;
    }
    .landingpage-section3-flexbox-flexbox1{
        border-bottom: 2px solid #4A4B53;
        width: 100%;
        border-right: 0;
    
    }
    .landingpage-section3-flexbox-flexbox2{
        max-width: 100%;
    }


    .sections-heading{
        font-size: 1.5rem;
    }
    .sections-subheading{
        font-size: 1rem;
    }

    /* SECTION4  */
    .landing-section4-gridbox-headings{
    font-size: 1.5rem;
    }
    .landingpage-section4-gridbox-subheadings{
    font-size: 0.75rem;
    }
    .landingpage-section4-gridbox-gridboxparts-part1div{
        max-width: 60%;
        height: auto;
        
    }
    .landingpage-section4-gridbox-gridboxparts-part2div{
        max-width: 40%;
        height: auto;
        
    }


    /* SECTION6 */
    .landingpage-section6-gridbox-part1-subpart1{
        width: auto;
    }
    .landingpage-section6-gridbox-part1-subpart2{
        width: auto;
    }
    .landingpage-section6-gridbox-part2-subpart1{
        width: auto;
    }
    .landingpage-section6-gridbox-part2-subpart2{
        width: auto;
    }
    .landingpage-section6-gridbox-part1{
        display: flex;
        flex-wrap: wrap;
        row-gap: 0.5rem;
        
    }

    .phone{
        display: none;
    }
    .footeruppersection-flexbox-part2{
        display: none;
    }
    .footeruppersection-wrapper{
        justify-content: center;
        align-items: center;
    }
    .footeruppersection-flexbox-part1-paragraph{
        text-align: center;
    }
    .footeruppersection-flexbox-part1-heading{
        text-align: center;
    }
    .footeruppersection-flexbox-part1-heading{
        font-size: 1.8rem;
    }
    .footeruppersection-flexbox-part1-paragraph{
        font-size: 0.9rem;
    }
    .footeruppersection-flexbox-part1{
        padding: 5%;
        width: 100%;
    }
    /* FOOTER */
    .footerlogo{
        width: 6.91675rem;
        height: auto;
        flex-shrink: 0;
    }
    .footer-part1-leftside-heading1{
        font-size: 0.9rem;
    }
    .footer-request-demo-container{
        width:15rem ;
        height: 2.8rem;
    }
    .footer-request-demo-form input[type="email"]{
        padding: 0;
    }
    .footer-request-demo-form input[type="email"]::placeholder {
        font-size: 0.9rem;
    }
    .footer-request-demo-form button {
        /* max-width: .38106rem; */
        width: 4.25013rem;
        height: 1.61006rem;
        flex-shrink: 0;
        font-size: 0.8rem;
    }
    .footer-part1-leftside-paragraph{
        font-size: 0.7015rem;
    }
    .footer-rightside-headings{
        font-size: 1rem;
    }
    .footer-rightside-subpoints{
        font-size: 0.8rem;
    }
}

@media(max-width:550px){
    .footeruppersection-flexbox-part1-heading{
        font-size: 1.5rem;
    }
    .footeruppersection-flexbox-part1-paragraph{
        font-size: 0.75rem;
    }
}
@media(max-width:450px){
    .footeruppersection-flexbox-part1-heading{
        font-size: 1rem;
    }
    .footeruppersection-flexbox-part1-paragraph{
        font-size: 0.75rem;
    }
    .footer-rightside-headings{
        font-size: 0.9rem;
    }
    .footer-rightside-subpoints{
        font-size: 0.75rem;
    }
    .footer-request-demo-container{
        width:15rem ;
        height: 2.1rem;
    }
    .footer-request-demo-form input[type="email"]{
        padding: 0;
    }
    .footer-request-demo-form input[type="email"]::placeholder {
        font-size: 0.75rem;
    }
    .footer-request-demo-form button {
        /* max-width: .38106rem; */
        width: 4.15013rem;
        height: 1.31006rem;
        flex-shrink: 0;
        font-size: 0.75rem;
    }
    .footer-part1-rightside{
        flex-wrap: wrap;
        row-gap: 2rem;
    }
}
