:root{
    --color-1: #040507;
    --text-color: #F0EFFA;
    --accent-color: #C8F962;
  }
html {
    scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
}

  
body{
    background: var(--color-1);
    color: var(--text-color);
    font-family: 'SF Pro Display', Arial, sans-serif;


}
header{
    position: sticky;
}
section{
    padding: 0 15%;
}
.subsections{
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.landingpage-section1-contentwrap{
    padding: 5% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}
.landingpage-section1-heading{
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 5.5rem */
    text-align: center;
}
.landingpage-section1-subheading{
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 5.5rem */
    text-align: center;
    color: var(--accent-color);
}
.request-demo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    width: 35rem;
    height: 4rem;
    padding: 1rem;
    /* margin-top: 5%; */
}
.request-demo-form{
    display: flex;
    width: 100%;
    border-radius: 0.78144rem;
    border: 0.781px solid rgba(240, 239, 250, 0.60);
    overflow: hidden;
    backdrop-filter: blur(7.033019065856934px);
    background-color: transparent;
    /* z-index: -1; */
}
.request-demo-form input[type="email"]{
    flex-grow: 1;
    padding: 0.75rem;
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: transparent;
    font-size: 1.25rem;
    width: 35rem;
    height: 4rem;
    border-radius: 10px 0 0 10px;
}
.request-demo-form input[type="email"]::placeholder {
    color: #888;
}
.request-demo-form button {
    background-color: 
    rgba(200, 249, 98, 1);
    border: none;
    padding: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:0.5rem;
    transition: background-color 0.3s ease;
    margin: 0.25rem;
    max-width: 5.875rem;
    width: 100%;
}



.sections-heading{
    text-align: center;
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 3.6rem */
}
.sections-subheading{
    color: #787878;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 1.625rem */
}
/* NEW SECTION2 CSS */
#landingpage-section2{
    background-image: url('./assets/Xaults-mainpage-section2-bg.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landingpage-section2-videocontainer{
    margin: 15%;
    border-radius: 0.42619rem;
    border: 0.426px solid #B8B8B8;
    background: #15171C;
    box-shadow: 0px 10.228px 17.047px 0px rgba(0, 0, 0, 0.17);
    width: 100%;
    height: 80%;
}

/* SECTION 7 */
.landingpage-section7-gridbox{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
}
.landingpage-section7-gridbox-subbox{
    display: flex;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    

}
.landingpage-section7-gridbox-subbob-sub{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    padding: 3%;
    border-radius: 0.875rem;
    border: 1px solid var(--Misty-slate, #292F3B);
    background: #0C0C0F;
    align-items: flex-start;
    /* flex-basis: 0; */
    width: 50%;
    height: 100%;
}


.landingpage-section7-boxes-heading{
    color: #C8F962;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
}
.landingpage-section7-boxes-subheading{
    color: #A1A0BD;
    font-size: 1rem;
    font-style: normal;
    font-weight: 200;
}

/* SECTION 8 */

.landingpage-section8-flexbox{
    display: flex;
    column-gap: 1rem;
    justify-content: center;
    
}
.landingpage-section8-flexbox-part1{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    column-gap: 1rem;
    width: 45%;
}
.landingpage-section8-flexbox-part1-heading{
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.landingpage-section8-flexbox-part1-subheading{
    color: #787878;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 1.625rem */
}



.landingpage-section8-gridbox{
    display: flex;
    flex-direction: column;
    width: 45%;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.landingpage-section8-gridbox-box{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    padding: 3%;
    border-radius: 0.875rem;
    border: 1px solid var(--Misty-slate, #292F3B);
    background: #0C0C0F;
    align-items: flex-start;
    height: 100%;
    opacity: 0.1;
}
.landingpage-section8-gridbox-box:hover{
    transition: 0.7s;
    opacity: 100;
}
.landingpage-section8-boxheading{
    color: #C8F962;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
}
.landingpage-section8-boxsubheading{
    color: #A1A0BD;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 200;
    
}

/* SECTION9 */

.landingpage-section9-flexbox{
    display: flex;
    row-gap: 5rem;
    column-gap: 5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.landingpage-section9-flexbox-box{
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    justify-content: center;
    align-items: center;
    width: 15%;
}
.landingpage-section9-flexbox-box-heading{
   
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    line-height: 130%; /* 1.625rem */
}
.landingpage-section9-flexbox-box-image-white{
    background-color: white;
}

@media(max-width:1400px){
    section{
        padding: 0 10%;
    }
    .subsections{
        padding: 7% 10%;
    }
}
@media(max-width:1100px){

    /* SECTION1 */
    .landingpage-section1-heading{
        font-size: 3.5rem;
    }
    .landingpage-section1-subheading{
        font-size: 2rem;
    }
    /* SECTION1  */
    
    .request-demo-container{
        width: 25rem;
        height: 2rem;
    }
    .request-demo-form input[type="email"]{
        font-size: 1rem;  
        width: 25rem;
        height: 2rem;
    }
    .request-demo-form button {
        
        max-width: 3.875rem;
    }

    /* SECTION 1 END  */

    
}
@media(max-width:1000px){
    .sections-heading{
        font-size: 2rem;
    }
    .sections-subheading{
        font-size: 1.25rem;
    }
    
    .sections-heading{
        font-size: 2rem;
    }
    .sections-subheading{
        font-size: 1.25rem;
    }
    
    
}
@media(max-width:800px){

    .landingpage-section1-heading{
        font-size: 3rem;
    }
    
    
   
}

@media(max-width:550px){
    /* SECTION1 */
    .landingpage-section1-heading{
        font-size: 2rem;
    }
    .landingpage-section1-subheading{
        font-size: 1.25rem;
    }
}
@media(max-width:450px){
    
}
